-var formClass = cssClass || ""
if ajax == true
    - formClass = cssClass + " ajax"
.register
    form(action="/user/sociallogin", method="post", class="validate "+formClass)
        input(type="hidden", name="__nexturl", value=nextUrl)
        input(type="hidden", name="__network", value=provider)
        input(type="hidden", name="__id", value=id)
        label.textholder.req
            span Email Address
            input.email(type="text", name="email", value=email, readonly)
        label.textholder.req
            span First Name
            input.firstname(type="text", name="firstname", value=firstname)
        label.textholder.req
            span Last Name
            input.lastname(type="text", name="lastname", value=lastname)
        label.checkholder
            if overAge
                input(type="checkbox", name="overAge", checked)
            else
                input(type="checkbox", name="overAge")
            span I am over 18
        label.checkholder
            if rules
                input(type="checkbox", name="rules", checked)
            else
                input(type="checkbox", name="rules")
            span I have read the rules
        .controls
            input.button(type="submit", value="Complete Registration")