doctype html
html.no-js
    head
        title= share.title
        link(rel="canonical", href=share.url)
        meta(property="og:title", content=share.title)
        meta(name="description", content=share.text)
        meta(property="og:description", content=share.text)
        meta(property="og:image", content=share.img)
        meta(property="og:site_name", content=share.img)
        meta(property="twitter:card", content="summary")
        script

    body